#root > * {
    padding: .5rem;
}

header {
    display: flex;
    align-items: center;
    gap: 4rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}