@use 'sass:math';

.df {display: flex;}
.jcsb {justify-content: space-between;}
.aic {align-items: center;}

$sides: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left"
);

$props: (
    "p": "padding",
    "m": "margin"
);

@for $i from 1 through 16 {
    $val: calc($i * 0.25);
    @each $sideAbbr, $side in $sides {
        @each $propAbbr, $prop in $props {
            .#{$propAbbr}#{$sideAbbr}-#{$i} {
                #{$prop}-#{$side}: #{$val}rem;
            }
        }
    }
} 