
#auth {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form {
    background-color: rgba($color: white, $alpha: 0.1);
    
    & > h2:first-of-type {
        background-color: rgba($color: white, $alpha: 0.1);
        padding: .5rem;
    }

    & .fields {
        padding: .5rem;
    }
}

.form-field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    & .head {
        display: flex;
        flex-direction: column;
        & .error {
            font-size: 75%;
            color: white;
            color: yellow;
        }
    }
}


.toggle {
    & .choice {
        // padding: 1rem;
        font-family: monospace;
        font-size: 150%;

        &:hover {
            background-color: lightblue;
        }

        &.active {
            background-color: gray;
            color: white;
        }

        &:not(:last-child) {
            border-right: 0;
        }
    }
}

.avatar-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.avatar {
    cursor: pointer;
    color: white;
    background-color: transparent;
    
    & svg {
        display: block;
        width: 100%;
    }

    border: 1px solid transparent;

    &.active {
        border: 1px dashed gray;
    }

    &:hover {

    }
}