@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: "Nunito", sans-serif;

    &:focus {
        outline: 2px dashed rgba($color: white, $alpha: 0.3);
    }
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input {
    padding: .5rem;
    border-radius: 0;
}

input {
    border: 3px inset black;
    background-color: black;
    color: white;
    font-family: monospace;
}

button {
    cursor: pointer;
    border: 0;
}