@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./Nunito/Nunito-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: "Nunito", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input {
    padding: .5rem;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
}

button {
    cursor: pointer;
}

header nav {
    display: flex;
    gap: 1rem;
}

.df {display: flex;}
.jcsb {justify-content: space-between;}
.aic {align-items: center;}

.form-field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    & .head {
        display: flex;
        flex-direction: column;
        & .error {
            font-size: 75%;
            color: white;
            background-color: maroon;
        }
    }
}

.city-field {
    position: relative;
}

.searched-locations {
    position: absolute;
    background-color: black;
    color: white;
}

.weatherday {
    border: 1px solid gray;
    padding: .5rem;
    margin: .5rem;

    & .head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .date {
            font-size: 175%;
        }

        & .status {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: normal;
            font-style: italic;

            & .status-icon {
                background-color: lightgray;

                & img {
                    // border: 1px solid red;
                    width: 80px;
                    height: 64px;
                    object-fit: none;
                }
            }
        }
    }

    & .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    & h4 {
        display: flex;
        gap: 1rem;
        background-color: lightgray;
        padding: .25rem;
    }
}

.toggle {
    & .choice {
        &:hover {
            background-color: lightblue;
        }

        &.active {
            background-color: gray;
        }

        &:not(:last-child) {
            border-right: 0;
        }
    }
}

.form-error {
    color: maroon;
}

#weather-options {
    display: flex;
    justify-content: space-around;
}

.weather-option {
    display: flex;
    flex-direction: column;
    & h6 {
        text-align: center;
    }
}