@font-face {
  font-family: "Nunito";
  src: url("./Nunito/Nunito-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./Nunito/Nunito-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: "Nunito", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input {
  padding: 0.5rem;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
}

button {
  cursor: pointer;
  border: 0;
}
button:hover {
  background-color: gray;
}

#root > * {
  padding: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

.df {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.mr-12 {
  margin-right: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.pt-13 {
  padding-top: 3.25rem;
}

.mt-13 {
  margin-top: 3.25rem;
}

.pr-13 {
  padding-right: 3.25rem;
}

.mr-13 {
  margin-right: 3.25rem;
}

.pb-13 {
  padding-bottom: 3.25rem;
}

.mb-13 {
  margin-bottom: 3.25rem;
}

.pl-13 {
  padding-left: 3.25rem;
}

.ml-13 {
  margin-left: 3.25rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.pr-14 {
  padding-right: 3.5rem;
}

.mr-14 {
  margin-right: 3.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.pt-15 {
  padding-top: 3.75rem;
}

.mt-15 {
  margin-top: 3.75rem;
}

.pr-15 {
  padding-right: 3.75rem;
}

.mr-15 {
  margin-right: 3.75rem;
}

.pb-15 {
  padding-bottom: 3.75rem;
}

.mb-15 {
  margin-bottom: 3.75rem;
}

.pl-15 {
  padding-left: 3.75rem;
}

.ml-15 {
  margin-left: 3.75rem;
}

.pt-16 {
  padding-top: 4rem;
}

.mt-16 {
  margin-top: 4rem;
}

.pr-16 {
  padding-right: 4rem;
}

.mr-16 {
  margin-right: 4rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.pl-16 {
  padding-left: 4rem;
}

.ml-16 {
  margin-left: 4rem;
}

.form-field {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.form-field .head {
  display: flex;
  flex-direction: column;
}
.form-field .head .error {
  font-size: 75%;
  color: white;
  background-color: maroon;
}

.form-error {
  color: maroon;
}

.toggle .choice {
  font-family: monospace;
  font-size: 150%;
}
.toggle .choice:hover {
  background-color: lightblue;
}
.toggle .choice.active {
  background-color: gray;
  color: white;
}
.toggle .choice:not(:last-child) {
  border-right: 0;
}

.avatar-selector {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  cursor: pointer;
  border: 1px solid transparent;
}
.avatar svg {
  display: block;
}
.avatar.active {
  border: 1px dashed gray;
  background-color: lightgray;
}
.avatar:hover {
  background-color: transparent;
}

.city-field {
  position: relative;
}

#searched-locations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.weatherday {
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 0.5rem;
}
.weatherday .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weatherday .head .date {
  font-size: 175%;
}
.weatherday .head .status {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: normal;
  font-style: italic;
}
.weatherday .head .status .status-icon {
  background-color: lightgray;
}
.weatherday .head .status .status-icon img {
  width: 80px;
  height: 64px;
  -o-object-fit: none;
     object-fit: none;
}
.weatherday .body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.weatherday h4 {
  display: flex;
  gap: 1rem;
  background-color: lightgray;
  padding: 0.25rem;
}

#weather-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.weather-option {
  display: flex;
  flex-direction: column;
}
.weather-option h6 {
  text-align: center;
}

#posts {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post {
  display: grid;
  grid-template-columns: 150px auto;
}
.post .head {
  background-color: gray;
  color: white;
  padding: 0.25em;
}
.post .head .avatar-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post .head .timestamp {
  font-size: 75%;
}
.post .head .timestamp .actual {
  opacity: 0.5;
  font-style: italic;
}
.post .body {
  background-color: lightgray;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.post .body .content {
  flex-grow: 1;
}
.post .body .content textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.post .body .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post .body .buttons svg {
  display: block;
}/*# sourceMappingURL=index.css.map */